.Home {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 50rem;
    background-color: #4c4c4c;
    padding: 2rem;
}

.best-pc {
    background-color: #bd5bff;
    height: 40rem;
    width: 60rem;
}